[2019-03-03 14:24] wvxvw opened #68 "parse_method, first argument can be a list"
This line has an error: https://github.com/Parquery/swagger-to/blob/master/swagger_to/swagger.py#L284

`raw_dict` can be a list of multiple `RawDict`.

[2019-03-03 17:36] mristin commented on #68
Hi @wvxvw ,
Thanks a lot for spotting the error. Could you maybe give me a couple of more details? Could you provide a short swagger example?

[2019-03-05 07:54] wvxvw commented on #68
Hey, now this makes me wonder, is version 3 (the one that's now officially called Open API) supposed to be supported? This could be the culprit. The one I worked with was a v3.

[2019-03-05 08:56] mristin commented on #68
No, it's OpenAPI v2. V3 was still not available/well-established when we started working on swagger-to.

[2019-03-21 04:44] mristin commented on #68
Hi @wvxvw ,
Can we close the issue?

[2019-07-19 08:21] 941design opened #69 "Please provide an example of the generated code in your doc"

[2019-07-23 08:58] radomsak commented on #69
@941design Thank you for the suggestion! I added examples section to the readme

[2019-07-23 08:58] #69 closed

[2019-10-08 12:02] bdrung opened #72 "ValueError: Unexpected definition: OrderedDict([('description', 'response payload'), ('allOf', [<swagger_to.swagger.RawDict object at 0x7fdf21b57358>])])"
Running `swagger_to_py_client.py` on a swagger.json file for an internal API fails:

[code]

I am offer my help to debug this issue, but I cannot share the swagger.json file.

[2019-10-08 13:13] mristin commented on #72
Hi @bdrung,
Thanks for reporting!

Could you please at least give us a minimal schema that makes swagger-to crash?

[2019-10-29 10:45] mristin commented on #72
@radomsak I think this issue can be closed due to inactivity?

[2020-02-05 10:33] damoun opened #73 "ValueError on array"
Hi,

I used your project on the PetStore API provided by the Swagger team but I've got the following error:

[code]

[2020-02-05 12:14] mristin commented on #73
Hi @damoun ,
Thanks for reporting the issue! I'll have a look at the error tonight.

[2020-02-06 21:19] mristin commented on #73
Hi @damoun ,
I looked deeper into it. The issue will not be easy to fix, unfortunately. Pet store API uses arrays in query parameters (see the operation `findPetsByStatus` and the parameter `status`).

When I initially wrote swagger-to, I realized that it would become messy to implement multiple values in query parameters and decided not to support them. We used Uber API as reference where no prob

[2020-02-10 09:51] damoun commented on #73
No, I'm not using swagger-to intensively so I'm fine with this issue, it's only on the PetStore API.

[2020-02-10 22:34] mristin commented on #73
@Sasha93 I'd suggest we close the issue as a wont-fix?

[2020-02-11 08:27] Sasha93 commented on #73
Issue closed as a won't fix.

[2020-02-11 08:27] #73 closed

[2020-07-08 13:58] johnneerdael opened #74 "AssertionError: Errors in swagger.yaml:"
Hi,

I'm running in to some issues converting a yaml swagger page, at first I noticed some issues in the yaml page on editor.swagger.io but I've resolved those, now I'm trying to resolve the current issue but the error is a bit vague to find out where the issue in my file is exactly? Link to my YAML file: https://pastebin.com/W2sLJxEF

[code]

[2020-07-08 20:16] mristin commented on #74
Hi @Johnneke ,
You need to specify the name of the service as a tag. This is required so that the generated code can provide informative documentation (and also to designate the package names, *e.g.*,  in the go server code).

Have a look at the Uber example:
https://github.com/Parquery/swagger-to/blob/7497578940cb03ec4c4cdb1f21c48c19177b709b/tests/cases/py_client/general/swagger.yaml#L10

I'll up

[2020-07-08 21:28] mristin commented on #74
Here is the updated section in the Readme: https://github.com/Parquery/swagger-to/blob/master/README.rst#usage

Please note that your Swagger spec revealed another bug (parameter names starting with '_' such as '_field'). I am working on the patch.

[2020-07-08 21:40] mristin commented on #74
I've just published the patch version 3.1.3. There are no exceptions -- could you please confirm that the generated code behaves as expected?

[2020-07-27 04:18] RyanAquino opened #85 "Error on definitions ID"
Getting an error on setting ID to integer, it only accepts string. I am not sure if this is intended

`definitions:
  Project:
    required:
      - "name"
      - "created_by"
    type: object
    properties:
      id:
        title: "ID"
        type: integer
        readOnly: true`

[2020-07-27 04:36] mristin commented on #85
Hi @RyanAquino ,
Could you please post the whole schema (or a reduced one that is at least accepted by editor.swagger.io) together with the exact error code?

[2020-07-27 09:34] RyanAquino commented on #85
Hi @mristin ,

I have found a quick workaround. I need to define `format:int64`  for it to work without errors.

[2020-07-27 11:06] mristin commented on #85
Good, I'll close the issue.

[2020-07-27 11:06] #85 closed

[2020-08-18 16:12] mristin commented on #74
Closing since the issue seems resolved.

[2020-08-18 16:12] #74 closed

[2020-09-07 13:09] falzm opened #88 "swagger_to_py_client.py generates invalid function names"
Hi,

When using `swagger_to_py_client.py` the resulting generated code ends up containing invalid code where dashes (`-` are not filtered out. For example, from our OpenAPI Spec our `operationId` are formatted in _dash-case_:

[code]

After digging a little it seems that this is not supposed to happen, as your code generation templates are calling a formatting function [`snake_case()`](https://git

[2020-09-07 14:41] falzm commented on #88
I did a bit more digging, and turns out the operation ID is not formatted through the `snake_case()` method mentioned above. The following change fixes the issue:

[code]

If you're OK with this resolution, I can push a PR to this project.

[2020-09-07 17:18] mristin commented on #88
Hi @falzm !
Thanks for reporting the issue! Let me have a closer look at it.

[2020-09-07 18:21] mristin commented on #88
Hi @falzm ,
I took your suggestion and made it a bit more robust to future maintenance. Before I publish a new patch version, could you please see if you have any other breaking Swagger specs in the code base? One error is often a good indicator for the next one :-).

[2020-09-08 08:18] falzm commented on #88
Hi @mristin thank you for the reactivity, however I'm not sure if I'm doing wrong or if something is still missing, as I still get the same bogus output when running the test from the repository tip:

[code]

[2020-09-08 08:22] falzm commented on #88
Looking closer, we can see that only the first function name is correct (`list_snapshots()`), all the following function names don't seem to be affected by the formatting.

[2020-09-08 08:54] falzm opened #90 "swagger_to_py: allow user-supplied requests.Session object"
Hi,

Could you please consider using [`requests.Session`](https://requests.readthedocs.io/en/master/user/advanced/#session-objects) objects in the Python swagger client –  users to supply their own to the constructor – instead of using the default Requests session by calling `requests.request()` in the generated code? This would enable users to use advanced functionalities, [such as retry policies

[2020-09-08 10:50] mristin commented on #88
Thanks, @falzm ! The test was obviously too narrow. I'll try to fix it tonight.

[2020-09-08 10:52] mristin commented on #90
Hi @falzm ,
Before you make a PR, could you briefly sketch the generated code before and after?

[2020-09-08 12:18] falzm commented on #90
@mristin sure, here it is using my local test branch and [this OAS spec](https://gist.github.com/falzm/5e36c75957da916a041f46171d4319a1) as input:

[code]

As you can see, this change is backward-compatible with previously generated code, as we generate a `requests.Session` if none is passed to the constructor.

[2020-09-08 19:11] mristin commented on #90
Hi @falzm ,
Thanks! It looks good to me -- please create the pull request and assign me as a reviewer. I should have enough time tomorrow (Wednesday) to review it during the day.

[2020-09-08 19:12] #88 closed

[2020-09-08 19:14] mristin commented on #88
Hi @falzm ,
Could you please double-check that the issue has been resolved and reopen the issue if there are still bugs? I tried with the specs you mentioned (in https://gist.github.com/falzm/5e36c75957da916a041f46171d4319a1) and the code looked now correct to me.

[2020-09-09 07:11] falzm commented on #88
@mristin I confirm that it now works as expected, thank you!

[2020-09-09 08:33] falzm commented on #90
Hi @mristin, PR #92 is up for review.

[2020-09-10 13:43] falzm opened #94 "swagger_to_py_client.py: missing operation parameters"
According to the project [README](https://github.com/Parquery/swagger-to/#missing-features) the *"Python client support query, body, path and header parameters"*, however when generating code using `swagger_to_py_client.py` I end up with methods missing input parameters.

For the following OpenAPI command:

[code]

The following Python code is generated:

[code]

Did I miss something?

[2020-09-10 14:20] mristin commented on #94
Hi @falzm ,
The parameters in your spec are indeed empty (`parameters: []`)?

[2020-09-10 14:52] falzm commented on #94
Hi @mristin, indeed I didn't think of actual parameters but rather of `requestBody` – sorry for the confusion. Do you plan on supporting request body anytime soon?

[2020-09-10 16:28] mristin commented on #94
Hi @falzm ,
Are you mixing OpenAPI3 and Swagger spec? I think the body parameters are specified like this:
https://github.com/Parquery/swagger-to/blob/d20be76c62e5c3da718d52fa53c749d1b2926ba0/tests/cases/py_client/general/swagger.yaml#L139

[2020-09-10 20:02] mristin commented on #94
@falzm wouldn't that conflict with the parameters? Is the semantic equal as the body parameter?

[2020-09-10 22:15] #90 closed

[2020-09-10 22:17] mristin commented on #94
@falzm I had a closer look at the Swagger docs (https://swagger.io/docs/specification/2-0/describing-request-body/). I could not find any mention of `requestBody` -- are you sure that it is a valid Swagger (*i.e.* OpenAPI 2) property?

[2020-09-11 07:00] falzm commented on #94
@mristin my bad, I thought this was also available in the Swagger 2.0 spec (aka. OpenAPI 2.0). Well too bad for me, I'll have to find another tool compatible with OAS 3.0 for my use case ¯\_(ツ)_/¯

[2020-09-11 07:00] #94 closed

[2020-10-05 05:54] JarkoDubbeldam opened #95 "Deserialisation fails on non-required fields if `None` is provided."
I'm using this library to create a Python client for an API that returns a nullable string in its response. When null, the response looks like so: `{"NullableString": null}`, or `obj = {"NullableString": None}` as Python dict.

The deserialization code appears to expect null fields to be completely missing, instead of being explicitly nulled, and throws expecting a `str`.

## Swagger example

[cod

[2020-10-05 06:13] JarkoDubbeldam commented on #95
The serialisation code in `from_obj` doesn't appear to do any null-checking on its own. So I think the easiest way to adjust this would be to add a null check to the class-specific deserialisation code generated here: https://github.com/Parquery/swagger-to/blob/2b6a8c20faf807cdd271069c18c8d53f8106f1e0/swagger_to/py_client.py#L879

[2020-10-05 06:23] mristin commented on #95
Hi @JarkoDubbeldam ,
As far as I am aware, JSON does not support `null`?

If you make the property optional, it should work as expected?

[2020-10-05 06:29] mristin commented on #95
Before I dig deeper, could you please review this test case for me:
https://github.com/Parquery/swagger-to/tree/master/tests/cases/py_client/object_with_optional_properties
?

Is it the same case as yours?

[2020-10-05 06:33] mristin commented on #95
Sorry, now I got it. You would like to have the object serialized to JSON without the field when that field is `None` in Python. There would be a check like something in the line of `if attr in obj and obj[attr] is not None`. Did I get that right?

[2020-10-05 06:34] JarkoDubbeldam commented on #95
Exactly.

[2020-10-05 06:36] JarkoDubbeldam commented on #95
I checked the testcase, output from `swagger_to_py_client.py` is the same (bar the session code that probably hasn't been released yet). The behaviour is the same. Trying to deserialise the json `{"product_id":null}` results in an error from `test_object_from_obj`.

[2020-10-05 06:42] JarkoDubbeldam commented on #95
The behaviour when serialising to json doesn't seem particularly affected, since the generated code omits any `null`/`None` fields, which is fine. The problem is when deserialising responses, since I can't easily control whether the incoming json has explicit `null` fields, or omits them altogether.

[2020-10-05 07:44] mristin commented on #95
@JarkoDubbeldam thanks! I'll try to produce a fix tonight.

[2020-10-05 07:50] JarkoDubbeldam commented on #95
I think what you suggested

or `if obj.get(attr) is not None` should do the trick. That fixes it for me at least.

Thanks for looking at it :)

[2020-10-05 17:27] mristin commented on #95
Hi @JarkoDubbeldam ,
Could you please review PR for me: #98 ? In particular, could you please double-check whether the client looks as you expected:
https://github.com/Parquery/swagger-to/pull/98/files#diff-761cbc4ba5ac3ea018485cbf88e1e01f

and whether the unit tests actually test the correct behavior:
https://github.com/Parquery/swagger-to/pull/98/files#diff-67d7b587f6ada83edaab950b6ca09567
?

Th

[2020-10-06 06:08] JarkoDubbeldam commented on #95
Looks good to me. I'm not quite sure what the exact details were of the template that was changed, but the output looks good, both in the testcases as when I ran it on my own swaggerfile.

[2020-10-06 06:38] mristin commented on #95
@JarkoDubbeldam thanks! Let's wait for a week to see if there are more issues before I bump the patch version.

[2020-10-06 06:39] #95 closed

[2020-10-12 18:53] mristin opened #100 "Add support for OpenAPI 3"
It should be fairly feasible to add support for OpenAPI 3 as swagger-to uses an intermediate layer. While we couldn't support all the features of OpenAPI 3, we could at least covert the overlap in features between Swagger (OpenAPI 2) and OpenAPI 3.

@falzm I suppose you would be interested in this feature? I would need a bit of help. While I can do the coding, I would need somebody to review the c

[2020-10-13 06:27] falzm commented on #100
Hi @mristin, you can count on me for testing your implementation against an actual OpenAPI 3 spec.

[2020-10-16 17:59] mristin commented on #100
Hi @falzm and possibly others,
I had another look at https://github.com/OpenAPITools/openapi-generator -- it seems like it went a long way from swagger-gen. Before I spend many hours trying to get the OpenAPI3 model into python, could you maybe outline why you'd prefer to use swagger-to instead of openapi-generator? Are the stubs/clients from swagger-to better and if so, in which way(s)?

[2020-10-16 18:33] mristin commented on #100
I am actually thinking to create first a good  openapi3 python library, on top of which we can stack other tools (generators, validators *etc.). The main benefit of such a library would be that we could use Python (elegant) instead of Java (clumsy).

@falzm what do you think?

[2020-10-16 18:34] mristin commented on #100
@Alle123 maybe you also have some thoughts on this matter?

[2020-11-23 11:48] abingham commented on #68
I think I'm running into this issue as well:
[code]
Is this a problem with my swagger yaml (produced by flask-restx) or with swagger_to? Would it help if I posted the yaml?

[2020-11-23 16:24] mristin commented on #68
Hi @abingham,
Let me have a closer look and I'll come back to you.

[2020-11-26 07:42] mristin commented on #68
Hi @abingham ,
Could you please post a short specs that breaks swagger-to so that I can debug (and include it in the tests)?

I'll add a validation step using the JSON schema for **OpenAPI 2** (https://github.com/OAI/OpenAPI-Specification/blob/master/schemas/v2.0/schema.json).

[2020-11-26 08:21] abingham commented on #68
Here's a short spec that passes other validators I've tried but which breaks swagger-to:
[code]

[2020-11-26 08:25] mristin commented on #68
@abingham thanks! At the first sight the schema looks good, so it is indeed a bug in swagger-to. I'll try to investigate the issue till this weekend.

[2020-11-26 23:09] mristin commented on #68
Hi @abingham ,
The bug was indeed in swagger-to. I was ignorant of common parameters (see https://swagger.io/docs/specification/2-0/describing-parameters/, Section "Common Parameters"). I made a fix in PR #103.

Could you please check that the HEAD of the master branch resolves your issue and that it works on your whole schema?

(Btw., if you haven't done so, may I kindly ask you to star the proje

[2020-11-27 08:43] abingham commented on #68
This bug seems to be fixed now. Thanks!

I've found another issue which I'll report separately.

[2020-11-27 08:54] abingham opened #104 "Incorrectly requiring 'format' field for integer- and number-typed properties"
It seems that swagger-to is incorrectly expecting a format field (or is providing an invalid default value) for number an integer properties. For example, with this yaml:
[code]
I get this result:
[code]
That is, swagger-to is applying a default value of '' to the `MyProp` integer property. The same happens if I change the type to number.

If I explicitly provide a format (e.g. `format: int32`) th

[2020-11-27 09:02] #68 closed

[2020-11-27 09:05] mristin commented on #104
@abingham let me paraphrase to see if I get the problem right. The swagger-to expects a `format` property to be set when given an integer, but the error message is misleading and confusing since it refers to an empty default value?

(Swagger-to indeed needs to know the format of the integer in order to generate Go code and possibly code in other languages which need a specific integer length.)

[2020-11-27 10:00] abingham opened #105 "Incorrectly requiring "type" field for type definitions"
It seems that swagger-to requires the `type` field for type definitions. From what I can tell (mostly by running the YAML through other validators) is that `type` is optional, though I haven't done a close reading of the spec.

With this YAML:
[code]
I get this output:
[code]
If I modify `MyType` by adding a `type` field:
[code]
then everything seems to work:
[code]

[2020-11-27 10:03] abingham commented on #104
It's a bit of both, I guess. I don't think swagger-to should be expecting a
'format', so that's issue 1. The error message is a bit misleading since it
reports an implementation detail (i.e. swagger-to selected the invalid
empty string as the default value for format) rather than the actual
problem. Of course, since there really is no problem with the user input
(as far as I can tell), the incorre

[2020-11-27 10:19] abingham opened #106 "Invalid Elm generated for type definitions using 'allOf'"
Given this YAML:
[code]
and this command:
[code]
I'm getting this in my generated Elm:
[code]
The `SubType` declaration is missing it's `size` field and is syntactically incorrect.

[2020-11-27 13:33] abingham opened #107 "Invalid Elm generated when `operationId` values are invalid Elm identifiers"
Consider this spec:
[code]
The `operationId` value is valid swagger, but it's not a valid Elm identifier (i.e. Elm identifiers can't have "." in them). However, swagger-to uses this value unmodified when producing Elm function names. For example, here's what it's producing for the above YAML:
[code]

[2020-11-27 13:56] mristin commented on #104
Thanks for clarification, @abingham. I'll make it optional and raise an error in related generators if they indeed require the specific format.

(I also noticed you collected many other issues with Elm -- which great & much appreciated!)

[2020-11-27 13:57] mristin commented on #105
Am I correct: if the field `properties` is present, it should be assumed that the type is `object`?

[2020-11-27 14:01] abingham commented on #105
That seems to be the case, but honestly that's just an educated guess. I started looking at the spec briefly, but it wasn't immediately clear what was expected/allowed. In any event, several linters and validators accept type-less properties.

[2020-11-27 14:03] mristin commented on #106
@abingham we did not implement `AllOf` in swagger-to since Go does not support inheritance. A quick fix would be to simply join the properties without any proper inheritance logic behind it -- but that would be confusing for the reader, wouldn't it?

Is the inheritance a blocking feature for you or only a nice-to-have?

[2020-11-27 14:10] abingham commented on #106
This isn't blocking, but I also want to avoid letting tools constrain me too much. I've got several tools that need to work with my spec, and I'd hate to get into a situation where they have mutually incompatible idiosyncracies.

Actually, if I understand what you're saying, that's exactly what tools like swagger-codegen do. Elm doesn't have subclassing either, so the types they generate when `all

[2020-11-27 14:13] mristin commented on #106
Ok, then let me implement it that way at the swagger <-> intermediate representation level by just making a superset of all the properties with no notion of the inheritance involved. This is also much less work.

[2020-11-27 14:15] mristin commented on #107
Pardon my lack of Elm (a colleague of mine, @TeodoroFilippini, actually implemented the Elm generator) -- is there a way to escape the method name somehow? Or would you expect swagger-to to give an error here?

[2020-11-27 14:17] mristin commented on #107
Please see also the issue https://github.com/Parquery/swagger-to/issues/88 -- maybe I should make swagger-to-elm simply use characters such as '-' and '.' as delimiters and silently generate a valid function name?

[2020-11-27 14:42] abingham commented on #107
Issue #88 seems to be essentially the same issue.

There's no way to escape the names that I know of, and I definitely wouldn't want swagger-to to raise an error. My intuition here is that swagger-to should silently transform the names into valid Elm identifiers, e.g. 'foo.bar' could become 'foo_bar'. You could also do some package nesting or something so that 'foo' becomes a package and 'bar' is

[2020-11-27 15:13] mristin commented on #107
Let's keep it simple for the moment and use `.` and `-` as delimiters in swagger-to-elm. Package nesting seems like an overkill and given my limited knowledge of Elm would be also hard to implement.

[2020-11-28 15:47] abingham commented on #107
At first glance, this looks like it should be pretty easy to fix. I could modify `elm_client._write_request()` to simply replace '.' with '_' after the call to `swagger_to.camel_case()`.

But it feels more appropriate to actually modify `swagger_to.camel_case()` itself to do the same thing.

I'm happy to put together a PR for this. Do you have a preference for which approach I should take?

[2020-11-28 16:05] mristin commented on #107
@abingham it would be great if you could set up a PR! It would be best if you could mimic what I did in the PRs https://github.com/Parquery/swagger-to/pull/89 and https://github.com/Parquery/swagger-to/pull/91.

[2020-11-28 21:26] #105 closed

[2020-11-28 21:27] mristin commented on #105
Hi @abingham ,
Could you please test if #112 solves the issue with your schema and re-open the issue if not?

[2020-11-29 10:32] abingham commented on #105
This seems to work for simple cases. It fails when `allOf` is used, e.g.:
[code]
Here the type `Sub` type is confusing your logic by defining a type with no properties and no type:
[code]
I can fix this by adding `type: object` to the definition of `Sub`, but other validators and linters agree that this shouldn't be necessary.

[2020-11-29 10:35] abingham commented on #105
I don't seem to be able to re-open this issue, but I think it should be.

[2020-11-29 13:30] abingham commented on #107
PR #113 attempts to address this.

[2020-11-29 14:03] abingham opened #114 "Elm clients for multiple specs will collide with one another"
The elm client code that swagger-to generates is always in a file called 'Client.elm' and always has the module name 'Client'. This means that if I generate bindings for more than one spec, they can't be used in the same program (without modifying the generated code).

One way to address this is to let the user specify a module name, i.e. something besides "Client". So if the user specified "PetSt

[2020-11-29 15:14] mristin commented on #114
Hi @abingham ,
I suppose a command-line option `--module_name` in `swagger-to-elm` (with a default value "Client") incorporated in the template and file name should suffice? What about the package json file?

I suppose different clients live in different directories?

[2020-11-29 15:17] mristin commented on #105
Hi @abingham ,
Thanks for the feedback. Handling `allOf` was not part of the PR -- let me tackle that issue in a separate PR.

[2020-11-29 18:18] abingham commented on #114
I was imagining a command-line option, though I'm not sure of the pros and cons of using package.json.

Different client bindings will likely live in different directories, though it's not strictly necessary. If we allow users to specify nested module names like "MyProgram.Comms.MyApi", we could generate a file names "MyApi" with the module specification "module MyProgram.Comms.MyApi", and this fi

[2020-11-29 19:59] #104 closed

[2020-11-29 20:00] mristin commented on #104
Hi @abingham ,
Could you please check if the PR #115 solves the issue on your schema?

[2020-11-29 20:01] mristin commented on #107
@abingham , I assume you tested #113 on your schema? Should we close the issue?

[2020-11-29 21:10] mristin commented on #106
@abingham could you please check if #116 solves the issue? I did not merge it into master since I can imagine that it would need more fixes. If it works on your schema, I'd say we merge it in as-is. Please inspect also the code in the PR #116, at least the Elm code, to see if that is what you expected.

[2020-11-29 21:39] mristin commented on #114
@abingham:

The current Elm client code uses Elm 0.18. If you are targeting 0.19 or 0.19.1, maybe you can just call it swagger-to-elm-0.19.1?
It would actually make more sense to *exclude* package.json since that would allow the user to pack in other packages as well, add more modules *etc.* This would make your idea with nested modules actually quite simple to implement, wouldn't it?

[2020-11-29 21:40] mristin commented on #114
P.S. it would be great if you could contribute your client generator to swagger-to (unless it's very application-specific) -- please let me know if you need any help, pointers *etc.*

[2020-11-30 07:22] abingham commented on #104
Seems to work well. Thanks!

[2020-11-30 07:23] abingham commented on #107
This seems to be working properly. Thanks!

[2020-11-30 07:23] #107 closed

[2020-11-30 07:41] abingham commented on #106
This does seem to work properly. There's still an issue with `allOf` definitions that don't specify a `type`, but I'll create a new issue for that.

[2020-11-30 07:41] #106 closed

[2020-11-30 07:45] abingham opened #117 "Definitions using `allOf` which don't specify a type cause a `ValueError`."
If I create a definition using `allOf` that doesn't specify it's type, swagger-to raises a `ValueError` when swagger-to can't determine its type. For example:
[code]
Since `Sub` doesn't specify a `type`, I get this:
[code]

[2020-11-30 07:49] abingham opened #118 "Object types defined "anonymously" in `allOf` aren't defauled to type "object""
Consider this spec:
[code]
The `Sub` definition doesn't specify a "type" for the "sub_prop" property, and this causes swagger-to to raise a `ValueError`:
[code]

Changing the `Sub` definition to the following fixes the problem:
[code]

[2020-11-30 07:53] abingham commented on #114
The changes have to do with 0.19 and some associated changes to Http and Json APIs (and possibly more). After looking through the existing elm client generator, I've decided that it'll be faster and cleaner to write a new one; this may turn out to be incorrect, but I'm also just intellectually curious to do it.

In any event, once I'm happy with it I'll be happy to contribute it to swagger-to.

[2020-11-30 16:40] #117 closed

[2020-11-30 16:41] mristin commented on #118
@abingham could you please check if PR #119 indeed fixes this issue for you?

[2020-11-30 16:42] mristin commented on #117
@abingham could you please check whether the PR #119 fixes the issue for your schema?

[2020-11-30 18:31] abingham commented on #118
Seems to work. Thanks!

[2020-11-30 18:31] #118 closed

[2020-11-30 18:33] abingham commented on #117
This seems to work. Thanks!

[2020-12-02 08:35] abingham opened #120 "Definition names containing spaces are incorrectly rejected"
In this spec the "Base Def" definition has a space in it:
[code]
This appears to be valid OpenAPI, but `swagger_to_py_client.py` raises an contract violation error:
[code]

[2020-12-02 08:42] abingham commented on #120
FWIW, I tried the "obvious" fix of adding whitespace to the allowed characters in the regex `swagger_to.VARIABLE_RE`. While this does allow swagger-to to produce output, it has some problems. In particular, the Python class produced for "Base Def" looks like this:
[code]
That is, it's called `Base` rather than `BaseDef` or something more complete. This isn't a total showstopper, but it does seem l

[2020-12-02 08:52] abingham commented on #120
Also it looks like "-" should be allowed.

[2020-12-02 08:54] abingham commented on #120
I further explored modifying the relevant regex. When I modify it to allow both whitespace and hyphens, I see that definition names like "JSON-LD object" result in generated Python code like `if exp == JSON-LD object:` which is invalid Python code. Taken together with my earlier note, it seems you'll need to find some robust means of producing Python identifiers for these kinds of strings.

[2020-12-02 10:16] mristin commented on #120
Hi @abingham ,
Thanks for all this probing! We have never thought of that many edge cases when we started out :-).

I think this needs to be addressed in a similar way the OperationIDs are handled. The names are split (by dot, hyphen, underscore, space *etc.*) and later converted to the appropriate casing (Capital_snake_case or CamelCase, depending on the language). If the user is careless, it mig

[2020-12-06 22:41] mristin commented on #120
Hi @abingham ,
Please give me a couple of more days. I'm currently very busy with another project. Is this something that you need urgently?

[2020-12-07 08:56] abingham commented on #120
There's no great rush on this from my end. We're slowly exploring the
possibilities of code generation from swagger, and it's not blocking us
right now. And of course I'd never presume to impose some sort of deadline
on someone doing open source development! If you don't get to it, maybe
I'll find time to sort it out myself :)

On Sun, Dec 6, 2020 at 11:42 PM Marko Ristin <notifications@github.com

[2020-12-11 07:27] abingham opened #121 "Default value for Endpoint.produces is confusing"
I might be misinterpreting the OAS, but I think the default value for `Endpoint.produces` is incorrect. If an operation in the spec does not specify a `produces` field, swagger-to gives that endpoint a value of an empty list. I *think* this is incorrect because I later have to interpret that empty list as overriding the global `produces` field.

[In the OAS spec's discussion of `produces`](https:/

[2020-12-15 07:40] mristin commented on #120
Hi @abingham ,
Could you please review the PR #122 and see if it fixes your issue? I abstained from fixing the issue at the intermediate representation level as this might introduce unexpected behaviors throughout all the other generators. The only viable solution is probably to fix it on case-by-case basis.

For example, the schema you posted will still break in Elm client and that would need to

[2020-12-15 07:54] abingham commented on #120
Hi @mristin,
#122 does seem to address the issues with the parsing and Python generation. I see some oddness in the generated Python, e.g.:
[code]
But this is at least valid Python.

I agree that each generator will need to deal with these kinds of names separately. But I'm not sure that it's a problem for existing users. That is, if someone's already using swagger-to for language X, then they mus

[2020-12-15 08:31] mristin commented on #120
Hi @abingham ,
The odd identifier is a bug, thanks for spotting it!

I changed the IR layer to accept pretty arbitrary names -- would you relax it even more? (See the PR)

[2020-12-15 08:39] abingham commented on #120
I'd have it accept anything that openapi allows. But I'd distinguish between a) what the IR allows and b) what any particular generator supports, i.e. treat the generators as separate projects. The generators can always catch up as needed, but at least you can make the IR maximally correct.

[2020-12-15 09:42] mristin commented on #120
I agree. I'll add a pre-condition in IR to make it clearer.

[2020-12-15 19:09] mristin commented on #120
@abingham I added JSONLD to the special cases. Mind that splitting on camel case is inherently not well-defined (hence we preferred Pascal_case in our specs). I added a longer message to why the parameter and definition references are constrained:
https://github.com/Parquery/swagger-to/pull/122/commits/cecc806d020f1025c5b2801395ef4b68b875671b

Could you please re-review and re-test on your spec?

[2020-12-15 19:26] abingham commented on #120
Everything looks good here.

[2020-12-15 19:31] mristin commented on #120
Great, I'll merge it in! I'll try to look at the other issue tomorrow.

[2020-12-15 19:32] #120 closed

[2020-12-27 06:23] mristin commented on #121
Hi @abingham ,
I think it is a hole in swagger-to. If I make `produces` optional field (*i.e.*, it is `None` if not specified), that would work, correct?

Could you post an example spec that you would like to process so that I can test against it?

[2020-12-27 10:29] abingham commented on #121
I agree that `produces` should be optional for an endpoint. But if the user doesn't specify `produces` for an endpoint, it might be more useful to set it to the global `produces` rather than `None`. That way, when I need to know what an endpoint produces, I can always just look at its `produces` value rather than having to optionally look at the global value.

This would mean, of course, that it's

[2020-12-27 11:10] mristin commented on #121
@abingham could you write 2-3 specs that I could use as unit tests (so that we can also inspect the results together)?

Should `produces` be resolved at the IR level or when generating the code?

[2021-01-02 12:04] abingham commented on #121
Do you mean the more cases in the `tests/cases/intermediate` directory? Sure, I can probably put something together. How do I create the `endpoints.json` file? I tried using `json.dump` on an `Endpoint` but was told that `Endpoint`s are not JSON serializable.

I assume that it should be resolved in the IR. I'm working on writing a code generator, though, so maybe I'm not thinking of the big pictur

[2021-01-02 14:31] mristin commented on #121
I was actually thinking of swagger.yaml to avoid ambiguities. Then we would discuss the generated output.

It actually makes sense to resolve it already at IR level - I couldn't think of any case where the generator would need to know the difference.

[2021-01-04 14:11] abingham commented on #121
Ok, here are three that I think cover the main cases. First, a global `produces` with no `produces` specified for the endpoint:
[code]

Here's the same but with the endpoint specifying a different mime type:
[code]
And here's one where the endpoint explicitly clears the produces field by using an empty list:
[code]

[2021-01-07 19:09] mristin commented on #121
Thanks, @abingham! I'll try to have something implemented this weekend.

[2021-01-12 10:34] #121 closed

[2021-01-12 10:35] mristin commented on #121
@abingham let's wait with a new version till you finish your Elm generator. I anticipate more issues :).

[2021-04-06 08:25] abingham opened #124 "New release"
Are there plans to make a new release of swagger-to? I've got projects that depend on it, but they currently only work with the master branch.

[2021-04-06 18:59] mristin commented on #124
Hi @abingham,
Please apologize for the delay. This was on my todo list, but just slipped in priority. I've just released a new version; it should be on PyPI in a minute.

[2021-04-06 18:59] mristin commented on #124
I'll close the issue for now. If there are problems with the version 4.1.0, please create a new issue.

[2021-04-06 18:59] #124 closed

[2021-04-07 08:46] abingham commented on #124
Thanks! Everything seems to work.

[2021-09-26 06:14] mristin commented on #114
Hi @abingham ,
Do you still plan to contribute back the Elm client for Elm 0.19, or should we rather close the issue?

[2021-09-27 05:45] abingham commented on #114
The work I have is [here](https://github.com/abingham/openapi_elm_client) if you want to look at it.

The work I did it for is mothballed for now, but I'll take a look at the work and see what kind of state it's in. It definitely *did* work quite well last time I used it.

[2021-09-27 18:03] mristin commented on #114
Hi @abingham ,
Thanks for the update! Let's leave the issue open then. Even if you don't have time, perhaps somebody else might pick your source code and integrate it eventually.

[2021-09-29 03:01] stevenxuwoss opened #129 "definitions properties referenced itself will cause maximum recursion depth exceeded while calling a Python object"
some like menu and child menu, to find definitions will cause  maximum recursion depth exceeded while calling a Python object

[2021-09-29 05:57] stevenxuwoss commented on #129
the paser typeof and get typeof have same issues

[2021-09-29 06:50] mristin commented on #129
Hi @stevenxuwoss ,
Thanks for the report! Could you please post a minimal schema that reproduces the bug so that I can add it to the regression tests?

[2021-09-29 08:02] abingham commented on #114
That sounds good. If the project that precipitated my work comes back to life, I may have time to put towards integrating it with swagger-to.

[2021-10-01 09:49] stevenxuwoss commented on #129
some like from java objects
`
JsonArray:
    type: object
    discriminator: ''
    properties:
      asBigDecimal:
        type: number
      asBigInteger:
        type: integer
      asBoolean:
        type: boolean
      asByte:
        type: integer
        format: int32
        minimum: -128
        maximum: 127
      asCharacter:
        type: string
      asDouble:
        type: number

[2021-10-05 19:08] mristin commented on #129
Hi @stevenxuwoss ,
Please apologize for the delay on my side. I am very busy at the moment (probably whole October 2021). How important is this feature to you and what about your timeline -- is it critical and when would you need it latest?

[2021-10-09 03:06] stevenxuwoss commented on #129
@mristin thanks for your reply！I use swagger to and auto gen the python api to test our project and i did some workaround and  not block my work yet.

[2021-10-27 02:50] stevenxuwoss opened #132 "ValueError: Expected the value in a schema to be a string, but got: <class 'swagger_to.swagger.RawDict'>"
if definitions properties has name with description, will cause this issue
[code]
<img width="729" alt="20211027104911" src="https://user-images.githubusercontent.com/17000812/138991549-b512b07d-f789-4df9-8436-92e87c698d4c.png">

*(@mristin, 2021-10-27: added markers for multi-line code)*

[2021-10-27 06:05] stevenxuwoss opened #133 "Can it support definitions which come from java object like BaseRes«List«KeepAliveRespData»»"
[code]

*(@mristin, 2021-10-27: added markers for multi-line code)*

[2021-10-27 06:15] stevenxuwoss opened #134 "ValueError: Expected type of a parameter to be one of ['string', 'number', 'integer', 'boolean', 'file'], but got: 'array'"
i'm not sure if this is a standard format, the schema came from swagger tools with java project.
now there's array in parameters like below, it will cause this issue
[code]
<img width="596" alt="20211027141515" src="https://user-images.githubusercontent.com/17000812/139010070-bb95937f-ebc2-4e65-8895-ec6c0e5b7d4a.png">

[2021-11-28 19:32] #129 closed

[2022-05-04 16:05] rosejn opened #135 "Broken markupsafe import"
The recent update to markupsafe removed the soft_unicode function (says to use soft_str or something now), so swagger_to is effectively broken.  Seems like they should have done this in a major release, but I guess it was already deprecated.

❯ /home/rosejn/.cache/pypoetry/virtualenvs/mxv-eLM5rDHK-py3.8/bin/swagger_to_py_client.py --swagger_path swagger.json --output mxv/api_client.py

Traceback (

[2022-05-04 17:31] mristin commented on #135
Hi @rosejn ,
Do I read the logs correctly -- we should update the version of jinja2 on our side?

[2022-05-04 20:35] rosejn commented on #135
Yeah, I think (hope) that should fix it.

On Wed, May 4, 2022 at 11:31 AM Marko Ristin ***@***.***>
wrote:

--
*Jeff Rose*

*Partner*
*Origin Rose*
PO Box 1948
Boulder, Co, USA, 80306
cell: (303) 800 - 5467 <303.800.5467>
originrose.com

[2022-05-12 19:07] #135 closed

[2022-05-12 19:29] mristin commented on #135
@rosejn could you please test that the issue has been fixed on your side with #137? After your confirmation, I'll bump a patch version.

[2022-05-13 09:18] mristin commented on #134
I'm closing this issue due to inactivity. Please feel free to re-open.

[2022-05-13 09:18] #134 closed

[2022-05-13 09:18] mristin commented on #133
I'm closing this issue due to inactivity. Please feel free to re-open.

[2022-05-13 09:18] #133 closed

[2022-05-13 09:19] mristin commented on #132
@stevenxuwoss I just realized I haven't looked at this issue. Is it still critical to you?

[2022-05-13 09:20] mristin commented on #114
@abingham I'll close the issue due to inactivity. I suppose the project has been closed. Please feel free to re-open the issue.

[2022-05-13 09:20] #114 closed

[2022-07-30 15:54] nicolasassi commented on #132
@mristin I had the same problem sadly.

[2022-08-01 01:09] mristin commented on #132
@nicolasassi thanks for letting me know! I'll try to have a look at this tomorrow (Monday).

[2022-09-07 09:28] mristin commented on #132
Hi @nicolasassi ,
Unfortunately, I got swamped with work & mixed in holidays, so I didn't have time to look into this problem. At the moment, I do not have time to fix this issue.

However, if you'd like to make a pull request, I'd be more than glad to support you, introduce you to the code and review your changes.

[2022-09-14 15:50] StL-Jim opened #140 "swagger_to_py_client.py not writing to file"
Trying to generate a DefectDojo client using swagger_to_py_client.py and it's not writing to a file, it's only writing to the screen, not even to SDTOUT/STDERR.

 python3.8 --version
Python 3.8.5

Created virtual env:
python3.8 -m venv venv3

Activate virtual env:
source venv3/bin/activate

Install swagger_to with pip:
bin/pip3.8 install swagger_to

bin/swagger_to_py_client.py --swagger_path ./doj

[2022-09-15 05:26] mristin commented on #140
Thanks for reporting, @StL-Jim! I'll try to have a look at it in the next 10 days.

[2022-10-02 18:37] mristin commented on #140
@StL-Jim I couldn't really reproduce the issue. Could you please try it on a different OS?

We simply write the contents to the file:
https://github.com/Parquery/swagger-to/blob/d0427c9f56e0a30a04e0777eb874954c99f1c90a/swagger_to/bin/swagger_to_py_client.py#L50

[2022-11-04 18:55] salmanee commented on #132
Also running into the same issue

[2022-11-04 19:50] mristin commented on #132
@salmanee could you please post a minimal schema that causes the error?

[2022-11-05 19:47] salmanee commented on #132
@mristin This is a small snippet.